* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg"); /* Here we can put 2 images in the body*/
  background-color: hsl(185, 75%, 39%);
  background-repeat: no-repeat, no-repeat;
  background-position: -300px -400px, 700px 380px; /*The first numbers are for the first image,
                                                    the second numbers, for the second image*/

  font-family: "Kumbh Sans", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.main__profileCard {
  display: flex;
  flex-direction: column;
  border-radius: 16px;

  width: 500px;
  height: 500px;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.main__profileCard-background {
  background: url("../images/bg-pattern-card.svg");
  height: 32%;
  border-radius: 16px 16px 0px 0px;
}

.main__profileCard-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 45%;
}

.main__profileCard-description img {
  position: relative;
  bottom: 25%;
  border-radius: 100%;
  border: 8px solid #fff;
}

.main__profileCard-description-nameAge {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.main__profileCard-description-nameAge h2 {
  font-size: 28px;
  margin-right: 6px;
  color: hsl(229, 23%, 23%);
}

.main__profileCard-description-nameAge p {
  font-size: 28px;
  color:hsl(227, 10%, 46%) ;
}

.main__profileCard-description-city {
  color: hsl(227, 10%, 46%);
  font-size: 20px;
}

.main__profileCard-social {
  display: flex;
  justify-content: space-around;
  align-items: center;

  text-align: center;
  border-top: 0.1px solid hsl(0, 0%, 59%);
  border-width: thin;
  height: 23%;
}

.main__profileCard-social-item h3 {
  color: hsl(229, 23%, 23%);
  font-size: 28px;
}

.main__profileCard-social-item p {
  font-size: 14px;
  color:hsl(227, 10%, 46%) ;
  letter-spacing: 4px;
}


@media (max-width: 450px){
  body{
    padding: 20px;
    background-position: -820px -400px, 200px 380px;;
  }

  .main__profileCard{
    height: 400px;
  }

  .main__profileCard-description-nameAge h2{
    font-size: 20px;
  }

  .main__profileCard-description-nameAge p {
    font-size: 16px;
    color:hsl(227, 10%, 46%) ;
  }

  .main__profileCard-description-city{
    font-size:16px ;
  }

  .main__profileCard-social-item h3 {
    color: hsl(229, 23%, 23%);
    font-size: 20px;
  }

  .main__profileCard-social-item p {
    font-size: 10px;
    color:hsl(227, 10%, 46%) ;
    letter-spacing: 4px;
  }


  .main__profileCard-description img{
    bottom: 30%;
  }
}